alias gbsort="git branch --sort=-committerdate"
alias rz="reload_zsh"
alias gcan="git add --all && git commit --amend --no-edit"
alias gt="make generate-types"
alias syncdot="(cd /workspaces/.codespaces/.persistedshare/dotfiles && git pull) && rz"