gacm(){
  echo "Committing code..."
  git add --all && git commit -m $1
}

clean_docker() {
  if [ ! -z "$1" ]; then
    images=$(docker images -a | grep $1 | awk '{ print $3 }')
    if [ ! -z "$images" ]; then
      docker rmi -f $(docker images -a | grep $1 | awk '{ print $3 }')
    fi
  fi
  docker rm -v $(docker ps -a -q -f status=exited)
  docker rmi $(docker images -f "dangling=true" -q)
}

docker_ps() {
  docker ps | less -S
}

dl(){
  if [[ $1 == *"soundcloud.com"* ]]; then
    youtube-dl -o "~/Music/%(uploader)s - %(title)s.%(ext)s" $1
  else
    youtube-dl -x --audio-format mp3 -o "~/Music/%(title)s.%(ext)s" $1
  fi
}

syncb() {
  local default_branch=$(git remote show origin | grep 'HEAD branch' -m 1 | cut -d' ' -f5)
  local branch="${1:-$default_branch}"
  git fetch origin $branch:$branch --update-head-ok
}

gitdb() {
  if [ -z "$1" ]
  then
    echo "Provide a git branch substring to delete it"
    exit 0
  fi
  git branch | grep -Ei "$1" | grep -Eiv "\*" | while read -r line ; do
    gb -D $line
  done
}

kall() {
  kubectl get $1 --all-namespaces
}

find_po() {
  k get po | grep $1 | awk '{ print $1 }'
}

# print current wifi network
ssid() {
  echo $(/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport -I | awk '/ SSID/ {print substr($0, index($0, $2))}')
}

# Print current wifi settings
wifi(){
  if [ -z "$1" ]
  then
     echo "SSID: $(ssid)"
     security find-generic-password -ga $currentnetwork | tr -d '\n' | grep "password:"
  else
     echo "SSID: $1"
     security find-generic-password -ga $1 | tr -d '\n' | grep "password:"
  fi
}

kill_process_on_port() {
  kill $(lsof -i tcp:$1 | tail -n 1 | awk {'print $2'})
}

reload_zsh() {
  source ~/.zshrc
}


ssh_desktop() {
  DESKTOP_IP=192.168.86.38
  echo "Running on wifi $(ssid)"
  ssh ryan@$DESKTOP_IP
}
# work specific
make_test_spec(){
   gh run view --log --job=$1 | grep "Print test spec" | grep -o "\.\.\/build.*" >> /tmp/test_spec   
}

current_codespace(){
  echo $(gh codespace list --json name | jq '.[0].name' -r)
}

cs_ssh() {
  gh codespace ssh --codespace $(current_codespace) -- -t 'zsh -l'
} 

cs_ld(){
  gh codespace ssh --codespace $(current_codespace) -- -t 'lazydocker'
}

commit_ticket(){
  ticket_url=$1
  description=$2
  gacm "[SC-$(echo "$ticket_url" | grep -oP 'story/\K\d+')] $description"
}

